[submodule "NetCord/ThirdParty/Libdave/libdave"]
	path = NetCord/ThirdParty/Libdave/libdave
	url = https://github.com/discord/libdave/

[submodule "NetCord/ThirdParty/MLSpp/mlspp"]
	path = NetCord/ThirdParty/MLSpp/mlspp
	url = https://github.com/cisco/mlspp/
