/**
 * Licensed to the .NET Foundation under one or more agreements.
 * The .NET Foundation licenses this file to you under the MIT license.
 */

[data-bs-theme]:not([data-bs-theme="dark"]) {
  @import "highlight.js/scss/base16/dirtysea";
}

[data-bs-theme]:not([data-bs-theme="dark"]) .hljs {
  background-color: #f5f5f5;
}

[data-bs-theme="dark"] {
  @import "highlight.js/scss/vs2015";
}

.hljs {
  @media print {
    overflow-x: hidden;
    text-wrap: pretty;
  }
}

/* For code snippet line highlight */
pre > code .line-highlight {
  background-color: yellow;
}

@include color-mode(dark) {
  pre > code .line-highlight {
    background-color: #323110;
  }
}
