@font-face {
  font-family: Cascadia Code;
  src: local(Cascadia Code Regular), url(cascadia-code.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: Franklin Gothic Heavy;
  src: local(Franklin Gothic Heavy), url(franklin-gothic-heavy.woff2) format(woff2);
  font-display: swap;
}

:root {
  --bs-font-monospace: Cascadia Code, monospace;
  --blurple: #5865f2;
  --dark-blurple: #4752c4;
  --ligatures: none;
  --snow-icon: "\f2bb";
  --snowflake-color: #a0ffff;
}

:root,
[data-bs-theme="light"] {
  --tooltip-color: black;
}

[data-bs-theme="dark"] {
  --tooltip-color: white;
}

.navbar-nav {
  --bs-nav-link-color: var(--bs-emphasis-color);
  --bs-nav-link-hover-color: var(--blurple);
  --bs-navbar-active-color: var(--blurple);
  --bs-nav-link-font-weight: 600;
}

.btn {
  --bs-btn-color: var(--bs-emphasis-color);
  --bs-btn-hover-color: var(--blurple);
  --bs-btn-active-color: var(--blurple);
  --bs-btn-font-size: 1.05rem;
}

:root[ligatures="1"] {
  --ligatures: normal;
}

:root[snow="0"] {
  --snow-icon: "\f2bc";
}

.logo {
  height: 30px;
  width: 30px;
}

.navbar .navbar-brand {
  padding: 10px;
}

pre code,
article img {
  border-radius: 10px;
}

article img {
  margin: 10px 0;
  box-shadow: 3px 3px 6px #111;
  background-color: #111;
  display: block;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

article,
.main {
  animation: fadeInUp 0.5s ease both;
}

.title {
  font-family: Franklin Gothic Heavy;
  font-size: 12em;
  margin-bottom: 0;
}

.subtitle {
  font-size: 1.7em;
  margin-bottom: 70px;
  line-height: 1.5;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 0 6vw;
}

.main {
  color: var(--bs-emphasis-color);
  display: flex;
  justify-content: end;
  flex-direction: column;
  height: 55vh;
  text-align: center;
}

.bg-body {
  z-index: 1;
  --bs-bg-opacity: 0;
  backdrop-filter: blur(10px) brightness(80%);
  -webkit-backdrop-filter: blur(10px) brightness(80%);
}

.border-bottom {
  border-bottom: none;
}

.button {
  font-size: 1.5em;
  border-radius: 7px;
  transition: all 0.2s;
  text-decoration: none;
  margin: 0 7px 10px;
  padding: 10px 32px;
  border: var(--blurple) solid 2px;
}

.primary-button {
  color: var(--bs-white);
  background-color: var(--blurple);
}

  .primary-button:hover,
  .primary-button:active {
    background-color: var(--dark-blurple);
    border-color: var(--dark-blurple);
  }

.secondary-button {
  color: var(--bs-emphasis-color);
}

  .secondary-button:hover {
    background-color: var(--blurple);
    color: var(--bs-white);
  }

  .secondary-button:active {
    background-color: var(--dark-blurple);
    border-color: var(--dark-blurple);
    color: var(--bs-white);
  }

.icon:before {
  display: inline-grid;
  white-space: nowrap;
  vertical-align: bottom;
  justify-content: center;
  width: var(--bs-btn-font-size);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ligatures:before {
  content: "!=";
  font-family: var(--bs-font-monospace);
  font-weight: 700;
  overflow: hidden;
}

code,
.icon-ligatures:before {
  font-variant-ligatures: var(--ligatures);
}

.icon-content {
  pointer-events: none;
}

* {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.form-control {
  transition: inherit;
}

.nav-link {
  transition: inherit;
}

.icon-snow:before {
  content: var(--snow-icon);
}

.snow-container {
  pointer-events: none;
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  color: var(--snowflake-color);
  animation-name: snowflake-fall, snowflake-shake;
  animation-duration: 9s, 3.5s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  user-select: none;
  cursor: default;
}

@keyframes snowflake-fall {
  from {
    top: -10%;
  }

  to {
    top: 100%;
  }
}

@keyframes snowflake-shake {
  0% {
    transform: translateX(calc(-2.5vw - 50%));
  }

  50% {
    transform: translateX(calc(2.5vw - 50%));
  }

  100% {
    transform: translateX(calc(-2.5vw - 50%));
  }
}

.icon-tooltip-active.icon-tooltip::after {
  pointer-events: none;
  content: attr(tooltip);
  position: absolute;
  white-space: nowrap;
  padding: 2px 10px;
  color: var(--tooltip-color);
  font-size: 0.8em;
  animation: tooltipFadeOutUp 0.15s ease both;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border-width: 3px 0 0 0;
  border-top-style: solid;
  border-top-color: var(--tooltip-color);
  font-weight: 600;
  bottom: calc(-100% + 6px);
}

.icon-tooltip-active.icon-tooltip:hover::after,
.icon-tooltip-active.icon-tooltip:focus-visible::after {
  animation: tooltipFadeInUp 0.15s ease both;
}

.navbar-collapse.collapsing .icon-tooltip-active.icon-tooltip::after {
  scale: 0;
}

@keyframes tooltipFadeInUp {
  from {
    opacity: 0;
    transform: translate(calc(-50% - 8.4px), 0) translateY(10px);
  }

  to {
    opacity: 1;
    transform: translate(calc(-50% - 8.4px), 0) translateY(0);
  }
}

@keyframes tooltipFadeOutUp {
  from {
    opacity: 1;
    transform: translate(calc(-50% - 8.4px), 0) translateY(0);
  }

  to {
    opacity: 0;
    transform: translate(calc(-50% - 8.4px), 0) translateY(10px);
  }
}

.features-section {
  padding: 100px 0;
  text-align: center;
  color: var(--bs-emphasis-color);
}

.section-title {
  font-size: 30px;
  margin-bottom: 30px;
}

.features-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 40px;
}

.feature-item {
  flex-basis: 30%;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

[data-bs-theme="dark"]
.feature-item {
  background-color: rgba(0, 0, 0, 0.11);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.feature-item h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0;
}

body {
  margin-right: calc(-100vw + 100%);
}

@media (max-width: 767px) {
  .title {
    font-size: 23vw;
  }

  .subtitle {
    font-size: 3.5vw;
  }

  .buttons {
    flex-direction: column;
  }

  .icon-tooltip-active.icon-tooltip::after {
    bottom: calc(-100% - 3px);
  }

  .section-title {
    font-size: 7vw;
  }

  .features-section {
    padding: 50px 0;
  }

  .feature-item {
    flex-basis: 100%;
  }
}

@media (max-width: 767px), (max-height: 750px) {
  .main {
    height: auto;
  }
}

@media not all and (max-width: 767px) {
  .navbar > .container-xxl {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@view-transition {
  navigation: auto;
}

@media (prefers-reduced-motion) {
  @view-transition {
    navigation: none;
  }
}
