@font-face {
  font-family: Cascadia Code;
  src:
      local(Cascadia Code Regular),
      url(cascadia-code.woff2) format(woff2);
}

@font-face {
  font-family: Franklin Gothic Heavy;
  src:
      local(Franklin Gothic Heavy),
      url(franklin-gothic-heavy.woff2) format(woff2);
}

:root {
  --bs-font-monospace: Cascadia Code, monospace;
  --blurple: #5865f2;
  --dark-blurple: #4752c4;
  --ligatures: none;
  --snow-icon: "\f2bb";
  --snowflake-color: #a0ffff;
}

:root,
[data-bs-theme="light"] {
  --tooltip-color: black;
}

[data-bs-theme="dark"] {
  --tooltip-color: white;
}

.navbar-nav {
  --bs-nav-link-color: var(--bs-emphasis-color);
  --bs-nav-link-hover-color: var(--blurple);
  --bs-navbar-active-color: var(--blurple);
  --bs-nav-link-font-weight: 600;
}

.btn {
  --bs-btn-color: var(--bs-emphasis-color);
  --bs-btn-hover-color: var(--blurple);
  --bs-btn-active-color: var(--blurple);
  --bs-btn-font-size: 1.05rem;
}

:root[ligatures="1"] {
  --ligatures: normal;
}

:root[snow="0"] {
  --snow-icon: "\f2bc";
}

.logo {
  height: 30px;
  width: 30px;
}

.navbar .navbar-brand {
  padding: 10px;
}

pre code,
article img {
  border-radius: 10px;
}

article img {
  margin: 10px 0;
  box-shadow: 3px 3px 6px #111;
  background-color: #111;
  display: grid;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

article,
.main {
  animation: fadeInUp 0.5s ease both;
}

.title {
  font-family: Franklin Gothic Heavy;
  font-size: 12em;
  margin-bottom: 0;
}

.subtitle {
  font-size: 1.7em;
  margin-bottom: 70px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 0 6vw;
}

.main-wrapper {
  height: calc(100vh - 60px);
  min-height: calc(100vh - 60px);
  overflow: hidden;
  color: var(--bs-emphasis-color);
  text-align: center;
  position: relative;
}

.main {
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.details {
  background-color: var(--bs-secondary-bg);
  scroll-margin-top: 60px;
}

.arrow-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.arrow-button {
  width: 100px;
  color: var(--bs-emphasis-color);
}

@keyframes arrowBounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.arrow-wrapper {
  animation: arrowBounce 0.3s both 2;
}

.arrow-button:hover > .arrow-wrapper > .arrow-wrapper2,
.arrow-button:active > .arrow-wrapper > .arrow-wrapper2 {
  animation: arrowBounce 0.4s both;
}

  .arrow-button:hover {
    color: var(--blurple);
  }

  .arrow-button:active {
    color: var(--dark-blurple);
  }

@media (max-width: 767px) {
  .title {
    font-size: 23vw;
  }

  .subtitle {
    font-size: 3.5vw;
  }

  .buttons {
    flex-direction: column;
  }

  .main-wrapper {
    height: calc(100vh - 50px);
    min-height: calc(100vh - 50px);
  }

  .details {
    scroll-margin-top: unset;
  }
}

@media (max-height: 740px) {
  .main-wrapper {
    height: fit-content;
  }

  .main {
    height: auto;
  }

  .arrow-container {
      position: unset;
      margin-bottom: unset;
  }
}

.bg-body {
  --bs-bg-opacity: 0;
  backdrop-filter: blur(10px) brightness(80%);
}

.border-bottom {
  border-bottom: none;
}

.button {
  font-size: 1.5em;
  border-radius: 7px;
  transition: all 0.2s;
  text-decoration: none;
  margin: 0 7px 10px;
  padding: 10px 32px;
  border: var(--blurple) solid 2px;
}

.primary-button {
  color: var(--bs-white);
  background-color: var(--blurple);
}

  .primary-button:hover,
  .primary-button:active {
    background-color: var(--dark-blurple);
    border-color: var(--dark-blurple);
  }

.secondary-button {
  color: var(--bs-emphasis-color);
}

  .secondary-button:hover {
    background-color: var(--blurple);
    color: var(--bs-white);
  }

  .secondary-button:active {
    background-color: var(--dark-blurple);
    border-color: var(--dark-blurple);
    color: var(--bs-white);
  }

.icon:before {
  display: inline-grid;
  white-space: nowrap;
  vertical-align: bottom;
  justify-content: center;
  width: var(--bs-btn-font-size);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ligatures:before {
  content: "!=";
  font-family: var(--bs-font-monospace);
  font-weight: 700;
  overflow: hidden;
}

code,
.icon-ligatures:before {
  font-variant-ligatures: var(--ligatures);
}

* {
  transition:
      background-color 0.2s ease-in-out,
      color 0.2s ease-in-out,
      border-color 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out;
}

.form-control {
  transition: inherit;
}

.nav-link {
  transition: inherit;
}

.icon-snow:before {
  content: var(--snow-icon);
}

.snow-container {
  pointer-events: none;
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  color: var(--snowflake-color);
  animation-name: snowflake-fall, snowflake-shake;
  animation-duration: 9s, 3.5s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  user-select: none;
  cursor: default;
}

@keyframes snowflake-fall {
  from {
    top: -10%;
  }

  to {
    top: 100%;
  }
}

@keyframes snowflake-shake {
  0% {
    transform: translateX(calc(-2.5vw - 50%));
  }

  50% {
    transform: translateX(calc(2.5vw - 50%));
  }

  100% {
    transform: translateX(calc(-2.5vw - 50%));
  }
}

.icon-tooltip {
  animation: iconShow 0.3s forwards;
}

  .icon-tooltip::after {
    pointer-events: none;
    content: attr(tooltip);
    position: absolute;
    white-space: nowrap;
    padding: 2px 10px;
    color: var(--tooltip-color);
    font-size: 0.8em;
    animation: tooltipFadeOutUp 0.15s ease both;
    transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out,
        border-color 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out;
    border-width: 3px 0 0 0;
    border-top-style: solid;
    border-top-color: var(--tooltip-color);
    font-weight: 600;
    bottom: calc(-100% - 3px);
  }

@media (min-width: 768px) {
  .icon-tooltip::after {
    bottom: calc(-100% + 6px);
  }

  .navbar > .container-xxl {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.icon-tooltip:hover::after {
  animation: tooltipFadeInUp 0.15s ease both;
}

@keyframes iconShow {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tooltipFadeInUp {
  from {
    opacity: 0;
    transform: translate(calc(-50% - 8.4px), 0) translateY(10px);
  }

  to {
    opacity: 1;
    transform: translate(calc(-50% - 8.4px), 0) translateY(0);
  }
}

@keyframes tooltipFadeOutUp {
  from {
    opacity: 1;
    transform: translate(calc(-50% - 8.4px), 0) translateY(0);
  }

  to {
    opacity: 0;
    transform: translate(calc(-50% - 8.4px), 0) translateY(10px);
  }
}
